.admin-nav{
    .nav-collapse{
        .btn-collapse{
            background-color: $--color-cb3a82;
            color: $--color-ffffff;
            border-radius: 0px;
        }
        .btn-collapse-1 {
            background-color: $--color-333333;
            color: $--color-ffffff;
            border-radius: 0px;
        }
        .btn-collapse-2 {
            background-color: $--color-a3a3a3;
            color: $--color-707070;
            border-radius: 0px;
        }
        .btn-collapse-3 {
            background-color: $--color-a3a3a3;
            color: $--color-ffffff;
            border-radius: 0px;
        }
        .btn-collapse:focus {
            outline: none !important;
            box-shadow: none;
        }
        .btn-collapse-1:focus {
            outline: none !important;
            box-shadow: none;
        }
        .active {
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-top: 18px solid $--color-c94284;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }

            &::after {
                content: '';
                display: block;
                height: 0px;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $--color-c94284;
            }
        }
        .active1 {
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-top: 18px solid $--color-333333;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }

            &::after {
                content: '';
                display: block;
                height: 0px;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $--color-333333;
            }
        }
    }
    .nav-collapse-body{
        height: 170px;
        z-index: 9;
        .col-1{
            width: calc(100% / 8.7);
            .inner-1 {
                background-color: $--color-ffffff;
                border: 2px solid $--color-d1d1d1;
                height: 100%;
                width: 90%;
                top: -5px;
                left: 0px;
            }
            .inner-2{
                background-color: $--color-eedae3;
                 z-index: 9;
            }
        }
    }
}
.admin-mypage{
    background-color: $--color-f2f2f2;
    margin-bottom: 100px !important;
    .row-1{
        .col-left{
            .p-left-1{
                color: $--color-cb3a82;
            }
            .p-left-2{
                padding-top: 100px;
            }
        }
        .right-col{
            .row-1{
                .span-1{
                    z-index: 1;
                }
            }
            .row-2{
                border: 1px solid $--color-333333;
                .inner-border{
                    border: 1px solid $--color-333333;
                    .row-21{
                        background-color: $--color-f8f7f7;
                    }
                    .span-1 {
                        background-color: $--color-707070;
                        color: $--color-ffffff;
                    }
                    .span-2 {
                        background-color: $--color-cb3a82;
                        color: $--color-ffffff;
                    }
                    .span-3 {
                        border: 1px solid $--color-333333;
                        padding: 0 20px;
                    }
                    .span-4 {
                        background-color: $--color-4280c9;
                        color: $--color-ffffff;
                        padding: 0 18px;
                    }
                    .span-5{
                        background-color: $--color-84c942;
                        color: $--color-ffffff;
                        border-radius: 50%;
                    }
                    .span-6{
                        color: $--color-0066c0;
                    }
                }
            }
        }
    }
    .span-2 {
        color: $--color-0066c0;
     }
    .row-2{
        .inner-1{
            border-bottom: 1px solid $--color-d6d6d6;
            .top-p{
                color: $--color-cb3a82;
            }
            .span-1{
                background-color: $--color-d93025;
                color: $--color-ffffff;
                border-radius: 11px;
            }
        }
    }
    .row-3{
        .right-col{
            .inner-1{
                background-color: $--color-f2f2f2;
                .inner-msg{
                    margin: 0 auto;
                    border: 1px solid $--color-707070;
                    height: 100px;
                }
                .inner-msg::before {
                    display: block;
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-left: 1px solid $--color-707070;
                    border-bottom: 1px solid $--color-707070;
                    transform: rotate(45deg);
                    margin-top: 15px;
                    margin-left: -22px;
                    background-color: #fff;
                }
                .inner-msg-right {
                    margin: 0 auto;
                    border: 1px solid $--color-707070;
                    height: 100px;
                }
                .inner-msg-right::before {
                    display: block;
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-left: 1px solid $--color-707070;
                    border-bottom: 1px solid $--color-707070;
                    transform: rotate(225deg);
                    margin-top: 15px;
                    margin-left: 100.5%;
                    background-color: #fff;
                }
            }
            .inner-2{
                padding: 40px 80px;
                .bottom-p{
                    background-color: $--color-cb3a82;
                    color: $--color-ffffff;
                }
            }
        }
    }
    .row-4{
        border: 1px solid $--color-707070;
    }
}
.breadcrumb-border-admin {
    .breadcrumb {
        margin: 0;
    }
}
.expericence-childcare{
    margin-bottom: 100px !important;
    .experience-body{
        .left-col{
            .row-1{
                background-color: $--color-eaeaea;
                .inner-1{
                    border: 1px solid $--color-d8d8d8;
                }
                .inner-2{
                    option{
                        background-color: $--color-eaeaea !important;
                    }
                    select option:checked{
                         background-color: none !important;
                    }
                    select option:hover {
                        background-color: none !important;
                        color: $--color-ffffff;
                    }
                    select:focus {
                        border: 1px solid $--color-d8d8d8;
                        
                    }
                }
            }
            .row-2{
                 option {
                     background-color: $--color-eaeaea !important;
                 }
                 select:focus {
                     border: 1px solid $--color-d8d8d8;

                 }
            }
            .row-3{
                border: 1px solid $--color-dee2e6;
                border-bottom: 0px;
            }
            .row-4 {
                border-top: 1px solid $--color-dee2e6;
                .span-1 {
                    background-color: $--color-84c942;
                    color: $--color-ffffff;
                    border-radius: 50%;
                }
            }
        }
    }
}