.color-kigaruni-green {
    color: $--color-84c942 !important;
}

.background-kigaruni-green {
    background-color: $--color-84c942 !important;
}

.color-kigaruni-pink {
    color: $--color-cb3a82 !important;
}

.background-kigaruni-pink {
    background-color: $--color-cb3a82 !important;
}

.color-pinkish {
    color: $--color-fbeef5 !important;
}

.background-pinkish {
    background-color: $--color-fbeef5 !important;
}

.color-bluish {
    color: $--color-e8f4ff !important;
}

.background-bluish {
    background-color: $--color-e8f4ff !important;
}

.admin-parent {
    padding-bottom: 77px !important;
}

.no-border {
    border: none !important;
}

.rate-paln-table {

    tr,
    td {
        padding: 23px !important;
    }
}

.custom-tab-pill {
    padding-top: 40px;

    .tabs {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        padding: 0 5rem 0 5rem;

        a,
        i {
            cursor: pointer;
            display: inline-block;
            font-weight: 500;
        }

        a {
            width: calc(100% / 4);
            padding: 15px 10px;
            font-size: 15px;
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid $--color-333333;
            color: $--color-cb3a82;

            &:hover {
                color: #333333;

                i {
                    color: #333333;
                }
            }
        }

        a.active {
            border: 1px solid $--color-333333;
            border-bottom: 0px solid $--color-ffffff;
            color: $--color-333333;
            font-weight: bold;
        }
    }
}