.color-kigaruni-green {
    color: $--color-84c942;
}

.background-kigaruni-green {
    background-color: $--color-84c942;
}

.color-kigaruni-pink {
    color: $--color-cb3a82;
}

.background-kigaruni-pink {
    background-color: $--color-cb3a82;
}

.admin-parent {
    padding-bottom: 77px !important;
}