.charecteristics {
    .box-border {
        border: 1px solid #d2cece;
        
        .right-footer {
            margin-top: 15px;
            font-size: 20px;
        }
    }
    
    .footer-icon {
        margin-top: 15px;
        
        ul {
            li {
                margin: 0 10px;
                
                a {
                    &:hover {
                        i {
                            color: $--color-cb3a82;
                        }
                    }
                }
                
                i {
                    font-size: 20px;
                }
            }
        }
    }
}

.charecteristics-details {
    padding: 40px 0;
    
    .small {
        padding-left: 5rem;
        font-size: 10px;
    }
    
    .details-tab {
        padding: 40px 0;
        
        .tabs {
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            margin-bottom: 30px;
            border-bottom: 7px solid $--color-f8f7f7;
            
            a,
            i {
                cursor: pointer;
                display: inline-block;
                font-weight: 500;
            }
            
            a {
                width: calc(100% / 3);
                padding: 6px 10px;
                font-size: 25px;
                border-radius: 5px;
                border: 2px solid $--color-f8f7f7;
                
                &:hover {
                    color: #333333;
                    
                    i {
                        color: #333333;
                    }
                }
            }
            
            .active {
                position: relative;
                
                &::before {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    background-color: #E6006E;
                }
                
                &::after {
                    content: '';
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    border-radius: 5px;
                    left: 0;
                    background-color: $--color-c94284;
                }
            }
        }
    }
    
    .button-div {
        padding: 30px 30px;
        background-color: $--color-f2f2f2;
        
        .row-button {
            padding: 10px;
            width: calc(100% / 5);
            
            .btn-white {
                width: 80%;
                padding: 5px 5px;
                border-radius: 10px;
                background-color: $--color-ffffff;
                color: $--color-cb3a82;
            }
        }
    }
    
    .allergy-support {
        padding-left: 100px;
        
        .allergy-left {
            padding: 100px 0;
            
            .allergy-desc {
                padding-left: 50px;
                
                .btn-allergy {
                    width: 40%;
                    padding: 5px;
                    border: 2px solid $--color-aaaaaa;
                    color: $--color-cb3a82;
                }
            }
        }
        
        .allergy-right {
            background-color: $--color-bababa;
            margin-left: 9.5rem;
            height: 80%;
            padding: 10px 50px 0 18px;
            
            font-size: 25px;
            width: 1px;
            word-wrap: break-word;
            font-family: monospace;
            color: $--color-ffffff;
            white-space: pre-wrap;
            border-radius: 0%;
            // p {
                
            // }
        }
    }
    
    .child-care {
        border-top: 2px solid $--color-bababa;
        padding: 50px 50px;
        background-color: $--color-f2f2f2;
        
        .child-left {
            padding-top: 20px;
            
            .child-head {
                color: $--color-cb3a82;
            }
        }
        
        .child-right {
            background-color: $--color-ffffff;
            .btn-map {
                margin-left: 5rem;
                border-radius: 0;
                width: 10%;
                padding: 5px;
                border: 2px solid $--color-aaaaaa;
            }
            
            .child-row {
                padding-top: 10px;
                border-bottom: 1px solid $--color-cb3a82;
                
                .row-left {
                    text-align: center;
                    padding-top: 20px;
                    font-weight: bold;
                }
            }
        }
    }

    .nursery-school{
        padding: 40px 0;
        .school-step{
            .step-item{
                padding-left: 50px;
                position: relative;
                 z-index: 1;
                p:before {
                     content: "";
                    border-bottom: 1px solid $--color-cb3a82;
                    padding: 0px;
                    margin: 0px;
                     position: absolute;
                     left: 45px;
                     bottom: 12px;
                     height: 0px;
                     width: 12%;
                }
            }
            .step-left{
                position:relative;
                p{
                    position:absolute;
                    left: 70px;
                    width: 150px;
                }
            }
            .progressbar {
                // counter-reset: step;
                li {
                    list-style-type: none;
                    width: 20%;
                    float: left;
                    font-size: 12px;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    color: $--color-bababa;
                    img{
                        position:absolute;
                        top: -20px;
                        left: 75px;
                        z-index: 2;
                    }
                }
                li:before {
                    width: 20px;
                    height: 20px;
                    content: '';
                    // counter-increment: step;
                    line-height: 20px;
                    // border: 2px solid $--color-bababa;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: $--color-bababa;
                }
                li:after {
                    width: 100%;
                    height: 4px;
                    content: '';
                    position: absolute;
                    background-color: $--color-bababa;
                    top: 9px;
                    left: -50%;
                    z-index: -1;
                }
                li:first-child:after {
                    content: none;

                }
                li.active {
                    // color: green;
                }
                li.active:before {
                    // border-color: #55b776;
                }
                li.active+li:after {
                    // background-color: #55b776;
                }
            }
            .step-right {
                position: relative;
                margin-top: 0px;
                p {
                    position: absolute;
                    left: -55px;
                    top: -15px;
                    width: 150px;
                }
            }
        }
    }
    
}

