/* Colors: */
$--color-f8f7f7: #F8F7F7;
$--color-aaaaaa: #AAAAAA;
$--color-707070: #707070;
$--color-3d3442: #3D3442;
$--color-c4c4c4: #C4C4C4;
$--color-6f7070: #6F7070;
$--color-f2f2f2: #F2F2F2;
$--color-bababa: #BABABA;
$--color-ffffff: #FFFFFF;
$--color-cb3a82: #CB3A82;
$--color-84c942: #84C942;
$--color-8fc31f: #8FC31F;
$--color-333333: #333333;
$--color-c94284: #C94284;
$--color-e6006e: #E6006E;
$--color-cccc3b: #CCCC3B;
$--color-f2a9a8: #F2A9A8;
$--color-98d4e1: #98D4E1;
$--color-fabe7f: #FABE7F;
$--color-8cc43f: #8CC43F;
$--color-918d8d: #918D8D;
$--color-cecece: #CECECE;
$--color-d6d6d6: #D6D6D6;
$--color-fbeef5: #FBEEF5;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap');

body {
    color: #333333;
    font-family: 'Gothic A1', sans-serif;
}

a {
    color: #333333;
    text-decoration: none;
    
    &:hover {
        color: #333333;
    }
}

ul {
    list-style: none;
}

.space-100 {
    padding: 50px 0
}

.p-10 {
    padding: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.hw-100 {
    height: 100px;
    width: 100px;
}

.dashed-border {
    border-bottom: 1px dashed #8A8A8A;
}

.solid-border {
    border-bottom: 1px solid #d2cece;
}

.mx-datepicker {
    width: 100%;
}

.hooper {
    height: auto;
}

.horizontal-line {
    width: 2px;
    height: 80%;
    display: inline-block;
    border: 1px solid #cac3ce;
    position: relative;
    top: 10%;
}

.bg-light {
    background-color: $--color-f8f7f7 !important;
}

.my-page {
    padding: 10px 12px;
    font-weight: 700;
    color: $--color-cb3a82;
    border: 1px solid $--color-cb3a82;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    transition: background-color 0.5s ease;
    
    &:hover {
        color: #FFFFFF;
        background-color: $--color-cb3a82;
    }
}

.banner-btn {
    display: block;
    width: 100%;
    color: $--color-cb3a82;
    border: 1px solid;
    text-align: center;
    font-weight: 700;
    padding: 35px 0;
    line-height: 1;
    
    &:hover {
        color: $--color-cb3a82;
    }
}

.navbar {
    .navbar-brand {
        padding: 0;
        text-align: center;
        margin: 0 0 0 .2rem;
        
        #_ia {
            line-height: 18px;
            margin-top: -6px;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: rgba(51, 51, 51, 1);
        }
    }
    
    .navbar-toggler:focus {
        box-shadow: inherit;
    }
    
    .navbar-collapse {
        .nav-item {
            margin: 0 20px;
            text-align: center;
            
            .nav-link {
                padding-left: 1rem;
                padding-right: 1rem;
                font-weight: 500;
            }
        }
    }
}

.Icon_awesome-hand-holding {
    overflow: visible;
    width: 42.502px;
    height: 15.607px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-hand-holding {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(114, 114, 114, 1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.carousel-item {
    img {
        height: 100%;
    }
    
    .carousel-caption {
        top: 50%;
        left: 10%;
        right: auto;
        bottom: inherit;
        text-align: left;
        padding: inherit;
        transform: translate(0, -70%);
        
        img {
        }
        
        h3 {
            text-align: center;
            letter-spacing: 0;
            color: #2B2B2B;
            opacity: 1;
            font-size: 25px;
            font-weight: 400;
            line-height: 45px;
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    padding: 0 1.5rem;
}

/* ===================================
    Background image
====================================== */
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.background-position-top {
    background-position: center top !important;
}

.opacity-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    top: 0;
    left: 0;
}

.bg-extra-dark-gray {
    background-color: #1c1c1c;
}

.padding-30px-tb {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-title {
    h3 {
        z-index: 9;
        color: $--color-aaaaaa;
    }
}

.--color-e6006e {
    color: $--color-e6006e
}

.color-707070 {
    color: $--color-707070;
}

.border-color-e6006e {
    border-color: $--color-e6006e !important;
}

.border-cb3a82 {
    border-color: $--color-cb3a82 !important;
}

.border-color-707070 {
    border-color: $--color-707070 !important;
}

.border-333333 {
    border-color: $--color-333333 !important;
}

.border-cbcbcb {
    border-color: #cbcbcb;
}

.color-3d3442 {
    color: $--color-3d3442;
}

.bg-fafafa {
    background-color: #FAFAFA;
}

.border-radius-25 {
    border-radius: 25px !important;
}

.exy-default-btn {
    color: #FFFFFF;
    outline: inherit;
    padding: 10px 75px;
    display: inline-block;
    background-color: $--color-cb3a82;
    transition: background-color 0.5s ease;
    
    &:hover {
        color: #FFFFFF;
        background-color: $--color-e6006e;
    }
    
    &:focus {
        box-shadow: inherit;
    }
}

button.exy-default-btn {
    border: inherit;
}

input, select, textarea {
    &:focus {
        box-shadow: inherit !important;
        outline: none;
    }
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

.cursor-pointer {
    cursor: pointer
}

.mx-calendar-content {
    table {
        border-collapse: collapse;
    }
    
    th {
        color: #333333;
        font-weight: bold;
        background-color: #F1F1F1;
    }
    
    .cell, th {
        cursor: pointer;
        border: 1px solid #e2e2e2;
    }
    
    .today {
        color: #FFFFFF !important;
        background-color: #e85298 !important;
    }
    
    .cell.disabled {
        background-color: transparent;
    }
    
    .cell.active, .cell:hover {
        color: #333333 !important;
        font-weight: 700;
        background-color: #ffd9eb !important;
    }
    
    .mx-btn {
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        background-color: transparent;
        outline: none;
        white-space: nowrap;
    }
}

/* The container */
.container-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    
    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #FFF;
        box-shadow: 0 2px 2px #ddd;
        
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    
    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 6px;
        top: 4px;
        width: 4px;
        height: 8px;
        border: solid #333;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}