/* Colors: */
$--color-f8f7f7: #F8F7F7;
$--color-aaaaaa: #AAAAAA;
$--color-707070: #707070;
$--color-f2f2f2: #F2F2F2;
$--color-bababa: #BABABA;
$--color-ffffff: #FFFFFF;
$--color-cb3a82: #CB3A82;
$--color-84c942: #84C942;
$--color-8fc31f: #8FC31F;
$--color-333333: #333333;
$--color-c94284: #C94284;
$--color-e6006e: #E6006E;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap');

* {
    color: #333333;
    font-family: 'Gothic A1', sans-serif;
}

.dashed-border {
    border-bottom: 1px dashed #8A8A8A;
}

a {
    color: #333333;
    text-decoration: none;
    
    &:hover {
        color: #333333;
    }
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.space-100 {
    padding: 50px 0
}

.mx-datepicker {
    width: 100%;
}

.hooper {
    height: auto;
}

.horizontal-line {
    width: 2px;
    height: 80%;
    display: inline-block;
    border: 1px solid #cac3ce;
    position: relative;
    top: 10%;
}

.bg-light {
    background-color: $--color-f8f7f7 !important;
}

.my-page {
    padding: 10px 12px;
    font-weight: 700;
    color: $--color-cb3a82;
    border: 1px solid $--color-cb3a82;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    transition: background-color 0.5s ease;
    
    &:hover {
        color: #FFFFFF;
        background-color: $--color-cb3a82;
    }
}

.banner-btn {
    display: block;
    width: 100%;
    color: $--color-cb3a82;
    border: 1px solid;
    text-align: center;
    font-weight: 700;
    padding: 35px 0;
    line-height: 1;
    
    &:hover {
        color: $--color-cb3a82;
    }
}

.navbar {
    .navbar-brand {
        padding: 0;
        text-align: center;
        margin: 0 0 0 .2rem;
        
        #_ia {
            line-height: 18px;
            margin-top: -6px;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: rgba(51, 51, 51, 1);
        }
    }
    
    .navbar-toggler:focus {
        box-shadow: inherit;
    }
    
    .navbar-collapse {
        .nav-item {
            margin: 0 20px;
            text-align: center;
            
            .nav-link {
                padding-left: 1rem;
                padding-right: 1rem;
                font-weight: 500;
            }
        }
    }
}

.Icon_awesome-hand-holding {
    overflow: visible;
    width: 42.502px;
    height: 15.607px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-hand-holding {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(114, 114, 114, 1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.carousel-item {
    min-height: 450px;
    height: calc(100vh - 80px);
    
    img {
        height: 100%;
    }
    
    .carousel-caption {
        top: 50%;
        left: 10%;
        right: auto;
        bottom: inherit;
        text-align: left;
        padding: inherit;
        transform: translate(0, -70%);
        
        img {
        }
        
        h3 {
            text-align: center;
            letter-spacing: 0;
            color: #2B2B2B;
            opacity: 1;
            font-size: 25px;
            font-weight: 400;
            line-height: 45px;
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    padding: 0 1.5rem;
}