@media only screen and (max-width: 991px) {
    .br {
        display: none;
    }
    
    .navbar {
        .navbar-collapse {
            text-align: center;
        }
    }
    
    .garden-feature {
        .read-more {
            width: 100%;
        }
    }
}