/****************************************
 * Search Section
 ****************************************/
.search-section {
    padding: 60px 0;
    background-color: $--color-f8f7f7;
}

/****************************************
 * Footer
 ****************************************/
.footer-area {
    padding: 70px 0 20px;
    overflow: hidden;
    
    .footer-item {
        margin-bottom: 35px;
        padding: 0 30px 0 0;
        
        h4 {
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid;
            padding: 0 0 2px 8px;
            color: $--color-cb3a82;
        }
        
        ul {
            margin: 0;
            padding: 0 0 0 8px;
            
            li {
                margin: 5px 0;
                
                a {
                    display: inline-block;
                    font-size: 14px;
                    
                    &:hover {
                        color: $--color-cb3a82;
                    }
                }
            }
        }
        
        .fb-page {
            display: inline-block;
            text-align: center;
        }
        
        .footer-icon {
            margin-top: 15px;
            
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                
                li {
                    margin: 0 10px;
                    
                    a {
                        &:hover {
                            i {
                                color: $--color-cb3a82;
                            }
                        }
                    }
                    
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}